
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/pag_inicial.css' %}">
    <title>Document</title>
</head>
<body>
   <header><h2> <a href="{% url 'home:pag_inicial' %}"> MyNetwork</a></h2>  <div><h3><a href="{% url 'home:perfil' usuario=request.user.username %}">{{user.username}}</a></h3> <h6><a href="{% url 'home:logout' %}">Sair</a></h6> </div>

   </header>

 <main>
  <form method="POST" enctype="multipart/form-data" action="{% url 'home:upload_post' %} ">
    {% csrf_token %}
    <textarea required name="txt_post" placeholder="Oque você tem para compartilhar?" cols="30" rows="5"></textarea>
    <input type="submit" value="Enviar">
  </form>
  

  {% for item in posts %}
  <div class="post">
    <div class="post_inf">
      <div class="post_header">
      <img  class="perfil_header" src="{{item.foto_perfil}}" alt="">
      </div>

      <h6>{{item.post.autor.username}}</h6>
      <h6>{{item.post.postado|date:'d/m/y'}}</h6>
    </div>
    
    <div class="post_conteudo">
      <p>{{item.post.conteudo}}</p>

      <nav class="nav_post">
        <ul class="lista_post">
          <li>Gostei</li>
          <li>Comentar</li>
          <li>Compartilhar</li>
        </ul>
      </nav>
      
    <form class ='form_comentario'action="" method="">
      <textarea 
    name="" 
    placeholder="Escreva um comentário" 
    oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';" 
    style="overflow:hidden;resize:none;width:100%;min-height:50px;box-sizing:border-box;">
  </textarea>
    </form>
   

    </div>

  </div>
{% endfor %}


 </main>

<footer>@jaolvz</footer>
</body>
</html>