{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/index.css' %}">

</head>
<body>
    <header> <h1>MyNetwork</h1></header>

        <div>
        <form action="">
            <input type="email" name="" id="" placeholder="Usuario">
            <input type="password" name="" id="" placeholder="Senha">

            <a href="{% url 'cadastro' %}">Nao tenho cadastro</a>

            <input type="submit" value="Login"> 

        </form>
    </div>

    <footer>
       <h6>@jaolvz</h6>
    </footer>
</body>
</html>